
{% extends 'base.html' %} {% load crispy_forms_tags %}


{% block content %}   
        
        <body> 
                {% load staticfiles %}
                <img src="{% static 'output.png' %}" height=50% width=50%>
                <br> <br><br>
                <a href="{% url 'unmerge' %}" class="btn btn-primary" role="button">Un-Merge</a>

                <!-- <form  method="post" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ sendtoform|crispy }}
                
                </form> -->
                <a href="{% url 'sendto' %}" class="btn btn-primary" role="button">Send Image</a>



        </body>
{% endblock %}
